* {
  box-sizing: border-box;  
  margin: 0;
    padding:0;
   
}

p.test1 {
    writing-mode: horizontal-tb; 
  }
  
  p.test2 {
    writing-mode: vertical-rl; 
    font-size: 50px;
    font-family: "Sofia", sans-serif;
    text-shadow: 5px 5px 5px #ababab;
    padding-top : 40px;
  }
  
  span.test2 {
    writing-mode: vertical-rl; 
  }
  
 
.nav-item{
  color: #ffffff;
}

a:hover {
  color: #ffd226;
}

a:active  {
  color: #ffd226;
}


.main-logo {
  width:100px;
}

.sec_logo {
  width: 55px;
}

.navbar-brand .main-logo:hover {
  background:none;
}


.card{
  background-image: url('Images/bg-card.png');
  background-size: cover;
  padding-top:5%;
  padding-bottom: 5%;
  border: 0px;
}

.card-body{
  background-color: #ffffff;
}

.img_vd{
  background-color: #020202;
  padding-top:5%;
  padding-bottom: 5%;
}


.social{
  background-color: #262626;
}

.end_foo  {
  background-color: #010101;
  padding: 6px 6px;

}

.li_foo {
  display: flex;
  
}

.li_foo li  {
  list-style: none;
 

}

.li_foo li {
  text-decoration: none;
  color: #ffffff;
  padding: 2px 10px;
  
  font-size: small;  
  
}

.blog-1{
  width: 615px;
}

.fa {
  padding: 1px;
  text-align: center;
  color: #ffffff;
  margin: 5px 10px;
  padding-left: 82px;
}
.boo_der:hover{
  background-color: #ffd226;
  cursor: pointer;
}

.boo_der1:hover {
  background-color: #ffd226;
  cursor: pointer;
}

.boo_der i:hover {
  color: #000000;
}

.boo_der1 i:hover {
  color: #000000;
}

/* .tx-img
{
  background-image: url('Images/bg-card.png'); 
  background-size: cover;
} */

.prop{
  padding-top: 120px;
  text-align: center;
}

.carousel-indicators li {
  background-color: #ffd226;
}

/* .foo_name{
  padding-top: 50px;
  color: #ffffff;
} */

.boo_der {
  border-right: 1px solid #ffffff;
  
}

.vd_para {
  color: #ffffff;
  text-align: justify;
  padding: 7px 7px;
  padding-top: 60px;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
  height: 10px;
  width: 20px;
}

.ven {
height: 500px;
  padding: 40px 50px;
}

.prop_txt {
  text-align: center;
  padding: 10px 10px;
  padding-top: 35px;
  font-size: smaller;
}